- var styles = require('./photos.sss.json')

div(class=styles.photos)
	.container
		h1(class=styles.heading) Как это выглядит?
		div(class=styles.container)
			- for (var x = 0; x < 9; x++)
				img(class=styles.image src='https://placekitten.com/280/180')
