.video
	/*background: #0097a7*/
	background-size: cover
	background-image: inline('./images/bg.png')
	min-height: 800px
	height: 100vh
	padding-top: 60px

.container
	height: 100%
	display: flex
	align-items: center
	justify-content: flex-end

.intro
	width: 40%
	margin-top: -150px
	// margin-left: 60%

.heading
	font-weight: 300
	font-size: 26px
	line-height: 28px
	margin-bottom: 10px

.text
