- var styles = require('./video.sss.json')


div(class=styles.video)
	.container(class=styles.container)
		div(class=styles.intro)
			h1(class=styles.heading) Хотите провести выходые в&nbsp;море?
			p.
				Предлагаем вам комфортабельную прогулку на&nbsp;катамаране по&nbsp;заливу Петра Великого.
				Это отличное место для&nbsp;проведения свадебной фотосессии, празднования Дня рождения или&nbsp;юбилея и&nbsp;отдыха.
				Благодаря своей геометрии, катамаран обеспечивает минимальную качку, а&nbsp;на&nbsp;защищённой кормовой площадке комфортно даже в&nbsp;дождь и&nbsp;ветер.
