.features
	color: #000
	background: #fafafa
	padding: 60px 0

.heading
	text-align: center
	font-weight: 300
	font-size: 36px
	margin-bottom: 30px

.container
	display: flex
	justify-content: space-between

.column
	width: 30%

.item
	font-size: 22px
	line-height: 26px
	min-height: 52px
	display: flex
	align-items: center

.item + .item
	margin-top: 25px
