doctype html
html(lang='ru')
	head
		title Аренда катамарана
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin,cyrillic' rel='stylesheet' type='text/css')
		link(href='/main.css', rel='stylesheet')

	body
		include ./components/menu/menu
		include ./components/video/video
		include ./components/features/features
		include ./components/photos/photos
		include ./components/price/price
		include ./components/map/map
